<section class="existing-capsules">
    <h2>Continue working on your existing Time Capsules!</h2>

    <ul>
        <li>
            <h3>Erika's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btn-color">Edit</button>
                <button class="btn-color">Delete</button>
                <button class="btn-color">Seel</button>
            </div>
        </li>
        <li>
            <h3>Josh's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btn-color">Edit</button>
                <button class="btn-color">Delete</button>
                <button class="btn-color">Seel</button>
            </div>
        </li>
        <li>
            <h3>James's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btn-color">Edit</button>
                <button class="btn-color">Delete</button>
                <button class="btn-color">Seel</button>
            </div>
        </li>
    </ul>
</section>

<section class="new-capsules">
    <h2>Start a new capsule!</h2>
</section>