<section class="intro">
    <div class="intro__content">
        <h1>Welcome back!</h1>
        <h2>
            Share memories and messages that are important to you, both during and after life. Create digital time
            capsules that are delivered immediately, and made viewable to the people you love at a later time and
            date.
        </h2>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button id="accountlogin" class="btn-clear" onclick="window.location.href = 'capsule';">Sign in</button>
    </div>
</section>